<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring LDAP User Admin</title>
    <link rel="icon" type="image/x-icon" href="/resources/img/favicon.png'"/>
    <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/resources/css/default.css" rel="stylesheet"/>
    <script src="/resources/jquery/jquery.min.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/underscore/underscore.min.js"></script>

    <script type="text/javascript">
        var activeNav = ".users-nav";

        $(document).ready(function () {
            $(activeNav).addClass("active");
        });
    </script>
</head>


<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://projects.spring.io/spring-ldap/">Spring LDAP</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="users-nav"><a href="/users">Users</a></li>
                <li class="groups-nav"><a href="/groups">Groups</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>

</html>
